.list {
  height: 100%;
}
.auth {
  a {
    margin: 10px;
    color: #0a2d4e;
    font-size: larger;
    transition: 0.3s;
  }

  a:hover {
    color: #2a557e;
  }
}
i {
  font-size: 22px;
  font-weight: bold;
  color: #0a2d4e;
}
.cart {
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    top: 14%;

    left: 5%;
    font-size: smaller;
    padding: 0 4px;
    background-color: #0a2d4e;
    color: white;
    border-radius: 100%;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  p {
    margin: 10px;
  }

  .log-out {
    cursor: pointer;
    margin: 10px;
  }
}
