<div class="container">
  <form [formGroup]="order" (ngSubmit)="onSubmit()" class="form">
    <h1>Checkout Form</h1>
    <div class="form-field">
      <mat-form-field class="custom-form-field">
        <mat-label>Enter your name</mat-label>
        <input matInput formControlName="customer_name" required />
        <mat-error *ngIf="customer_name.invalid">{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="custom-form-field">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="customer_email" required />
        <mat-error *ngIf="customer_email.invalid">{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="custom-form-field">
        <mat-label>Enter your phone</mat-label>
        <input matInput formControlName="customer_phone" required />
        <mat-error *ngIf="customer_phone.invalid">{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="custom-form-field">
        <mat-label>Enter your address</mat-label>
        <input matInput formControlName="customer_address" required />
        <mat-error *ngIf="customer_address.invalid">{{ getError() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="button">
      <button class="submit" type="submit" mat-raised-button>Order Now</button>
    </div>
  </form>
</div>
