.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 1rem;
  gap: 2rem;
  .product {
    margin: 0px;

    .img-fluid {
      overflow: hidden;

      img {
        width: 100%;
        transition: 0.5s;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.5);
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #173551;
    }
  }
}

.page-numbers {
  text-align: center;
  margin: 1rem;

  button {
    border: none;
    outline: none;
    border-bottom: 2px solid #173551;
    color: #173551;
    margin: 10px;
  }
}
