<div class="product-list">
  <div
    class="product"
    *ngFor="let prod of products"
    [routerLink]="['product', prod.id]"
    (click)="(prod.id)"
  >
    <div class="img-fluid">
      <img [src]="prod.image" alt="product photo" />
    </div>
    <div class="content">
      <p>{{ prod.name }}</p>
      <p>{{ prod.price }}<strong>LE</strong></p>
    </div>
  </div>
</div>

<div class="page-numbers">
  <button
    type="button"
    *ngFor="let num of page"
    [value]="num"
    (click)="getAllProducts(num)"
  >
    {{ num }}
  </button>
</div>
