.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #173551;
    margin: 2rem 0;
  }

  form {
    max-width: 100%;
    text-align: center;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    .button {
      button {
        color: white;
        margin: 1rem;
        background-color: #173551;
        border: 0;
        width: 200px;
        transition: 0.5s;
        border: 1px solid #173551;
      }

      button:hover {
        background-color: white;
        color: #173551;
      }
    }
    mat-form-field {
      width: 300px;
    }
    background-color: #eee;
  }
}
